LAND_MERKLE_TREE="/home/erenaspire7/repos/sky-trades/stag-setup/keys/landMerkleTree.json"
ANCHOR_PROVIDER_URL="https://devnet.helius-rpc.com/?api-key=887524e6-92b0-4f96-973c-b37a53a9cfe4"
ANCHOR_WALLET="/home/erenaspire7/repos/sky-trades/stag-setup/keys/centralizedAccount.json"