LAND_MERKLE_TREE="/home/erenaspire7/repos/sky-trades/solana-sky-trade/wallets/landMerkleTree.json"
ANCHOR_PROVIDER_URL="https://devnet.helius-rpc.com/?api-key=887524e6-92b0-4f96-973c-b37a53a9cfe4"
CENTRALIZED_ACCOUNT="/home/erenaspire7/repos/sky-trades/solana-sky-trade/tests/wallets/centralizedAccount.json"
